@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{margin:0;
padding:0;
font-family: 'Josefin Sans', sans-serif;}
.container{
    height:100px;
}
.top-bar{
    width:80%;
    height:80px;
    margin:20px auto;

}
.logo{
    width:20%;
    float:left;
}
.logo img{
    width:150px;
    margin:8px auto;
    cursor: pointer;
}
.menu-bar{
    width:60%;
    float:left;
    text-align: center;
}
.menu-bar ul li{
    display:inline-block;
    text-decoration:none;
    list-style: none;
    cursor: pointer;
    color:black;
    padding-top:5px;
    margin:15px 20px;
    

}
.active , .menu-bar ul li:hover{
    border-top:2px solid #2c97e4;
}
search{
    width:20%;
    float:left;

}
.input-search{
    margin: 11px auto;
    border-bottom:1px solid #2c97e4;
    display:inline-flex;}
.input-search input{
    float:left;
    padding:5px;
    box-shadow:none;
    outline:none;
    border:0;
    background:transparent;
}
.search-icon .fa{
    color:#2c97e4;
}